.loginInput {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 315px;
  height: 43px;
  margin-top: 10px;
  margin-bottom: 10px;

  background: #ffffff;
  border-radius: 30px;
}
