.tableHead {
  text-align: center;
}
.tableHeadtr {
  text-align: center;
}

.tableHeadRow {
  background-color: white;
  border-bottom: 2px solid #9a9da1;
  text-align: start;
  position: sticky;
  top: 0;
  left: 0;
}
