.container {
  position: relative;
  box-sizing: border-box;

  width: 355px;
  height: 365px;

  background: #efeef5;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.title {
  position: absolute;
  left: 37px;
  top: 30px;
}

.topLine {
  position: absolute;
  width: 355px;
  height: 0px;
  left: -1px;
  top: 69.5px;

  border: 3px solid #ffffff;
}

.emailInput {
  position: absolute;
  left: 20px;
  top: 92px;
}

.passwordInput {
  position: absolute;
  left: 20px;
  top: 141px;
}

.loginButton {
  position: absolute;
  left: 20px;
  top: 227px;
}

.bottomLine {
  position: absolute;
  width: 355px;
  height: 0px;
  left: -1px;
  top: 295.51px;

  border: 3px solid #ffffff;
}

.resetPasswordLink {
  display: inline-block;
  position: absolute;
  top: 193px;
  text-align: center;
}

.signUpLink {
  display: inline-block;
  position: absolute;
  top: 320px;
  text-align: center;
}
