.smallText {
  width: auto;
  height: 26px;
  white-space: nowrap;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  text-align: center;

  color: #000000;
}

.bold {
  font-style: bold;
}
