.container {
  width: 100%;
  background: #485edf;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0.7rem 1.4rem;
}

.link {
  text-decoration: none;
}

.title {
  color: #fff;
  /* font-size: 22px;
  font-style: bold; */
}

.nav {
  /* justify-content: center;
  align-items: center; */
  margin-right: 15px;
}
