.title {
  position: absolute;
  width: 199px;
  height: 28px;
  left: 18px;
  top: 80px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  
  color: #000000;
  
}