.container {
  position: relative;
  box-sizing: border-box;

  width: 355px;
  height: 386px;

  background: #efeef5;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.title {
  position: absolute;
  left: 37px;
  top: 30px;
}

.topLine {
  position: absolute;
  width: 355px;
  height: 0px;
  left: -1px;
  top: 69.5px;

  border: 3px solid #ffffff;
}

.emailInput {
  position: absolute;
  left: 20px;
  top: 92px;
}

.passwordInput {
  position: absolute;
  left: 20px;
  top: 156px;
}

.signupButton {
  position: absolute;
  left: 20px;
  top: 252px;
}

.bottomLine {
  position: absolute;
  width: 355px;
  height: 0px;
  left: -1px;
  bottom: 69.49px;

  border: 3px solid #ffffff;
}

.emailErrorMessage {
  position: absolute;
  left: 37px;
  top: 142px;
}

.passwordErrorMessage {
  position: absolute;
  left: 37px;
  top: 206px;
}
