.formInput {
  position: absolute;
  width: 315px;
  height: 43px;
  left: 0px;
  top: 0px;
  border: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 159% */
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding-left: 4em;
}

.formInput::placeholder {
  color: #cccccc;
}
